* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #6C63FF;
}

body {
    font-family: 'Fredoka', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url("images/website-pattern.svg");
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10px;
}

.header {
    width: 100%;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 70px;
}

.menu {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.menu-item {
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-item a {
    text-decoration: none;
    color: white;
    position: relative;
    padding-bottom: 5px;
}

.menu-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -30%;
    width: 120%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: 0.75s;
    opacity: 0;
}

.menu-item:hover.menu-item a::after {
    left: -10%;
    opacity: 1;
}

.hero-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    color: white;
}

.hero-text h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.hero-text p {
    font-size: 1.5rem;
    padding-bottom: 4rem;
    width: 70%;
}

.hero-buttons {
    display: flex;
    padding-left: 20px;
}

.hero-buttons .button {
    margin-right: 2rem;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
}

.button::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 0%;
    width: 70%;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 2px;
    transition: 0.75s;
    opacity: 0;
}

.button:hover {
    opacity: 1;
    transition: 0.5s;
}

.button:hover.button::after {
    left: 15%;
    opacity: 1;
}

.hero-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-image img {
    width: 100%;
}

.services-section {
    width: 100%;
    height: auto;
}

.services-section h1 {
    width: 100%;
    height: 80px;
    background-color: white;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.services-body {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.services-icons {
    display: flex;
}

.service-icon {
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 20px;
}

.service-icon img {
    width: 210px;
    height: 150px;
}

.service-icon span {
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
}

.services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-text p {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.about-section {
    width: 100%;
    height: 650px;
    display: flex;
    background-image: linear-gradient(110deg, rgba(108, 99, 255, 0.8), white 60%);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.about-image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 70%;
}

.about-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 20px 0;
    color: var(--primary-color);
}

.about-text p {
    margin: 20px 0;
    width: 70%;
    font-size: 1rem;
}

.about-text .button {
    margin-top: 50px;
    background-color: var(--primary-color);
    color: white;
}

.about-text .button::after {
    background-color: white;
}

.clients-section {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.clients-section h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    margin-top: 70px;
}

.clients-section p {
    width: 50%;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.testimonials {
    display: flex;
}

.client-review {
    width: 300px;
    height: 365px;
    background-image: linear-gradient(to bottom, rgba(87, 90, 137, 0.8), white 40%);
    border-radius: 25px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.client-review img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    margin: 10px 0;
}

.client-review span {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.client-review p {
    width: 90%;
    color: black;
    font-size: 1rem;
}

.contact-section {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-body {
    width: 70%;
    height: 550px;
    display: flex;
    background-image: radial-gradient(white, #CCCCCC);
    border-radius: 35px;
}

.contact-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0 2rem;
}

.contact-text h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color);
    padding-right: 10px;
}

.contact-text p {
    font-size: 16px;
    padding: 0 40px;
}

.contact-text .button {
    background-color: var(--primary-color);
    color: white;
}

.contact-text .button::after {
    background-color: white;
}

.footer {
    width: 100%;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 10px solid white;

}

.footer-links {
    height: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    padding: 10px 0;
}

.footer-links span {
    color: white;
}

.contact-form span {
    text-align: left;
    margin: 10px 0;
}

.contact-form form {
    width: 300px;
    height: 30px;
    display: flex;
    background-color: white;
    border: none;
    border-radius: 20px;
}

.contact-form form input {
    height: 100%;
    width: 70%;
    padding-left: 10px;
    border: none;
    border-radius: 20px;
}

.contact-form form .button {
    height: 100%;
    width: 30%;
    margin: 0;
    font-size: 14px;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid white;
}

.social-media span {
    text-align: left;
    margin: 10px 0;
}

.social-media-icons img {
    width: 25px;
    margin-right: 10px;
}



@media screen and (min-width: 2000px) {
    .menu-item {
        font-size: 2rem;
    }

    .hero-text h2 {
        font-size: 5rem;
    }
    
    .hero-text p {
        font-size: 2rem;
    }
    
    .button {
        width: 240px;
        height: 80px;
        font-size: 2rem;
    }

    .services-section h1 {
        font-size: 3rem;
    }
    
    .services-body {
        height: 900px;
    }
    
    .service-icon {
        width: 350px;
        height: 350px;
    }
    
    .service-icon img {
        width: 300px;
        height: 200px;
    }
    
    .service-icon span {
        font-size: 3rem;
    }
    
    .services-text p {
        font-size: 4rem;
        margin-bottom: 40px;
    }
    
    .about-section {
        height: 850px;
        display: flex;
    }

    .about-text h2 {
        font-size: 5rem;
    }
    
    .about-text p {
        font-size: 1.5rem;
    }
    
    .clients-section {
        height: 900px;
    }
    
    .clients-section h2 {
        font-size: 4rem;
    }
    
    .clients-section p {
        width: 60%;
        font-size: 1.5rem;
    }

    .client-review {
        width: 350px;
        height: 450px;    
    }
    
    .client-review img {
        width: 200px;
    }
    
    .client-review span {
        font-size: 1.5rem;
    }
    
    .client-review p {
        width: 90%;
        font-size: 1.1rem;
    }
    
    .contact-section {
        width: 100%;
        height: 850px;
    }
    
    .contact-body {
        height: 750px;
    }

    .contact-image img {
        width: 90%;
    }

    .contact-text h2 {
        font-size: 3rem;
    }
    
    .contact-text p {
        font-size: 1.8rem;
    }
    
    .footer-links {
        font-size: 1.2rem;
    }

    .contact-form form {
        width: 400px;
        height: 40px;
    }
    
    .contact-form form input {
        font-size: 1.2rem;
    }

    .social-media-icons img {
        width: 35px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .hero-text h2 {
        font-size: 2.2rem;
    }
    
    .hero-text p {
        font-size: 1.1rem;
    }

    .service-icon {
        width: 220px;
        height: 220px;
    }
    
    .service-icon img {
        width: 200px;
        height: 150px;
    }
    
    .service-icon span {
        font-size: 1.5rem;
    }

    .client-review {
        margin: 0 10px;
    }

    .contact-body {
        width: 90%;
    }

    .contact-image img {
       width: 90%;
    }

    .contact-text h2 {
        font-size: 1.8rem;
    }
    
    .contact-text p {
        font-size: 1rem;
    }

}


@media screen and (max-width: 1200px) {
    .hero-text h2 {
        font-size: 2.2rem;
    }

}

@media screen and (max-width: 820px) {
    .menu-item {
        font-size: 1rem;
    }

    .hero-section {
        padding: 30px 10px;
    }

    .hero-text h2 {
        font-size: 2.2rem;
    }
    
    .hero-text p {
        font-size: 1.1rem;
    }

    .button {
        height: 50px;
        font-size: 1.2rem;
    }
    
    .services-body {
        height: auto;
        padding: 20px;
    }

    .services-icons {
        flex-direction: column;
    }

    .service-icon {
        width: 150px;
        height: 150px;
        flex-direction: row;
    }
    
    .service-icon img {
        width: 140px;
        height: 110px;
    }
    
    .service-icon span {
        font-size: 1.2rem;
    }

    .about-section {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .about-image {
        width: 100%;
    }

    .about-text {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .about-text p {
        margin: 10px;
    }
    
    .clients-section {
        height: auto;
    }
    
    .clients-section p {
        width: 100%;
        padding: 10px;
    }
    
    .testimonials {
        flex-direction: column;
    }
    
    .client-review {
        margin: 20px;    
    }
       
    .client-review span {
        margin-bottom: 5px;
    }

    .contact-section {
        height: auto;
    }

    .clients-section h2 {
        text-align: center;
    }
    
    .contact-body {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .contact-image {
        width: 100%;
    }

    .contact-text {
        width: 100%;
    }

    .contact-text h2 {
        margin: 10px;
    }
    
    .contact-text p {
        margin: 10px;
    }

    .footer {
        margin-top: 10px;
        padding: 10px;
        flex-direction: column;
        height: auto;
    }

    .footer-links {
        width: 100%;
        height: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .footer-links a, span {
        padding: 0 10px;
    }
}

@media screen and (max-width: 550px) {
    .menu {
        width: 80%;
    }
    .hero-section {
        flex-direction: column;
    }

    .hero-text, .hero-image {
        width: 100%;
        text-align: center;
    }
    
    .hero-text p {
        width: 100%;
    }

    .services-section {
        width: 100%;
    }

    .services-text p {
        font-size: 1.5rem;
    }

    .clients-section h2 {
        font-size: 2rem;
    }

    .contact-body {
        padding: 10px;
    }

    .contact-text {
        width: 100%;
    }

    .contact-text h2 {
        font-size: 1.5rem;
        padding: 0;
    }
    
    .contact-text p {
        margin: 10px 0;
        padding: 0;
    }

    .footer-links a, span {
        padding: 0 5px;
    }

}